
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro'
import H1 from '../components/H1.astro'
import { SITE_TITLE, SITE_DESCRIPTION, portfolioJSON } from '../consts';
const { work: workplaces } = portfolioJSON;

function monthNumberToAbbreviation(monthNumber) {
  const months = [
    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
  ];

  if (monthNumber >= 1 && monthNumber <= 12) {
    return months[monthNumber - 1];
  } else {
    return '';
  }
}
---

<Layout>
	<H1 class="text-center">Work History</H1>
	<ul>
		{workplaces.map((workplace) => (
			<li class="grid grid-cols-12">
				<div class="col-span-1 m-auto flex h-full flex-col items-center ">
					<div class="w-3 h-3 bg-primary rounded-full" />
					<div class="h-full border-x border-primary border-dashed" />
				</div>
				<div class="col-span-11">
					<div class="flex items-center justify-between">
						<h2 class="text-2xl font-bold">{workplace.name}</h2>
						<div class="badge badge-outline badge-accent">{monthNumberToAbbreviation(workplace.start.month)}{" "}{workplace.start.year}{" - "}{monthNumberToAbbreviation(workplace.end.month)}{" "}{workplace.end.year || 'Present'}</div>
					</div>
					<p class="font-medium text-secondary pb-4">{workplace.position}{' '}<span class="badge badge-outline badge-primary">{workplace.location}</span></p>
					<ul class="grid grid-cols-1 list-disc pb-8">
						{workplace.highlights.map((highlight) => (
							<li class="font-light mb-2">{highlight}</li>
						))}
					</ul>
				</div>
			</li>
		))}
	</ul>
</Layout>
